/* styles.css */
 
:root{
 --color-surface-mixed-100:  #822311;
 --color-surface-mixed-200:  #933d28;
 --color-surface-mixed-300:  #a35540;
 --color-surface-mixed-400:  #b26c58;
 --color-surface-mixed-500:  #c18472;
 --color-surface-mixed-600:  #ce9c8d;
}



/* Set the background color to black */
body {
    background-color: var(--color-surface-mixed-100);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0; 
}

/* Set the text color to red */
h1, p {
    color: white;
}

/* Set the link color to red */
a {
    color: red;
}

/* Set the hover color for links to black */
a:hover {
    color: black;
}


/*navbar */
/* Topbar */
.topbar {
    background-color: var(--color-surface-mixed-300);
    height: 100px;
    display: flex;
    padding: 0 20px;
    float: right;
    clear: both;
}
/* Content area with sidebar and main content */
.content {
    display: flex;
    flex-grow: 1;
}

/* Sidebar */
.sidebar {
    background-color: var(--color-surface-mixed-400);
    width: 100px;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
.sidebar li {
    padding: 10px;
    text-align: center;
}

/* Main content */
.main {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

/* Divs in the main content */
.main div {
    background-color: var(--color-surface-mixed-600);
    border-radius: 10px; /* Rounded corners */
    width: 100px;
    height: 100px;
    margin: 10px;
}